/* src/components/Footer.css */
.footer {
  text-align: center;
  padding: 1.0rem;
  background-color: #1a73e8;
  color: white;
  font-weight: 500;
}

body.dark .footer {
  background-color: aqua;

}
